* {
  box-sizing: border-box;
}

body {
  background-color: rgba(74, 167, 255, 0.932);
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  height: 500px;
  display: flex;
  /* border: 5px solid red; */
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.header {
  width: 380px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
}

.input-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.input {
  height: 55px;
  border: 0;
  border-radius: 3px;
}

:placeholder-shown {
  padding: 10px;
}

.radio {
  border: 1px solid white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.radio-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
}

.paragph {
  font-size: 9px;
  align-self: flex-end;
}

.input-checkbox {
  display: flex;
  font-size: 11px;
  align-items: center;
}

.button {
  width: 100%;
  background-color: rgb(4, 221, 221);
  height: 40px;
  border: 0;
  border-radius: 2px;
  color: white;
}
